@page "/sudoku"

<content class="centered">
  <div class="control-bar">
    <button @onclick="Sudoku.CalculateCellOptions">Calc Options</button>
    <button @onclick="Sudoku.ResetCellOptions">Clear Options</button>
    <button @onclick="Sudoku.CalculateCellProblems">Find Problems</button>
    <button @onclick="Sudoku.ResetCellProblems">Clear Problems</button>
    <button @onclick="CalculateState">Refresh</button>
    <button @onclick="() => Sudoku.SetRandomValues()">Random</button>
    <button @onclick="Sudoku.Clear">Clear</button>
  </div>

  <div class="row">
    <CascadingValue Value="@Sudoku">
      <CascadingValue Value="@SelectedCell">
        <div class="grid sudoku">
          @for (int row = 0; row < Sudoku.Width; row++)
          {
            <div class="row">
              @for (int col = 0; col < Sudoku.Width; col++)
              {
                Sudoku.TryGetCell((row, col), out Cell? cell);
                <CellView Cell="cell"
                          @onclick="@(() => CellClicked(cell))"
                          @onkeydown="@OnKeyDown" />
              }
            </div>
          }
        </div>
      </CascadingValue>
    </CascadingValue>

    <div class="number-buttons">
      @for (int i = 0; i < Sudoku.Width; i++)
      {
        int value = i + 1;
        <button class="number-btn" @onclick="@(() => ValueClicked(value))">
          @value
        </button>
      }
      <button class="number-btn" @onclick="@(() => ValueClicked(null))">
        ✕
      </button>
    </div>
  </div>
</content>